
.MapContainerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.taskPanel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
 }

.ppp {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.taskItemLI {
    border-top: 1px solid #cccccc;

}

.formItems {
    padding-bottom: 10px;
}

button {
    background-color: #28607F; /* Green */
    border: none;
    color: white;
    padding: 8px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
}

.tasks {
    overflow: auto;
    height: 90px;
}

h3 {
    padding: 0 0 10px 0;
    margin: 0;
    color: #414141
}